/********************************/
/* Main Styling
/*******************************/

body {
	font-family: 'Crete Round', sans-serif;
}

a {
   text-decoration: none;
   color: #883FA0;
}

#wrapper {
	text-align: justify;
   margin-left: 20%;
   margin-right: 20%;
}


/********************************/
/* Header
/*******************************/

#menu {
	text-align: center;
	vertical-align: center;
	background-color: #90C3D4; 
}


#menu a {
   color: black;
}

#menu .current {
   color: white;
}

#menu li {
	display: inline;
	margin: 10px;
}



h1 {
	text-align: center;
}


/********************************/
/* Footer
/*******************************/

#footer {
   font-size: 0.1em;
}

/********************************/
/* Home Page
/*******************************/

 #main_img {
		float: left;
		display: inline;
		margin: 0px 50px;
 }
 


/********************************/
/* Resume Page
/*******************************/

.section-title {
   border-radius = 10px;
   background-color: #D4A190;
 }
      
.container {
   display: none;
}

.interests a {
	color: #C390D4;
}


/********************************/
/* Contact Page
/*******************************/

#img_block{
	text-align: center;
} 
#twitter, #linked_in , #gmail{
	height: 64px;
	width: 64px;
	padding: 15px;
}


/********************************/
/* Media Queries
/*******************************/

@media only screen and (max-width: 480px) {

#body {
   margin-left: 0%;
   margin-right: 0%;
}

#menu {
   background-color: white;
}

#menu li {
   display: block;
   background-color: #90C3D4;
   
   
}