/********************************/
/* Main Styling
/*******************************/

body {
	font-family: 'Crete Round', sans-serif;
}

a {
	text-decoration: none;
   color: black;
}


/********************************/
/* Header
/*******************************/

#menu {
	text-align: center;
	vertical-align: center;
	background-color: #90C3D4; 
	
}

#menu li {
	display: inline;
	margin: 10px;
}

.current {
   color: white; 
}

h1 {
	text-align: center;
}




/********************************/
/* About Page
/*******************************/

.section-title {
   background-color: yellow;
   border-radius = 10px;
   background-color: #D4A190;
 }
      
.container {
   display : none;
   
}
      
/********************************/
/* About Page
/*******************************/

 #main_img {
		float: right;
		display: inline;
		margin: 0px 50px;
 }